@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
	margin: 2%;
}
h1 {
	text-align: center;
	color: #123652;
}	
